ImageHash==4.2.0
matplotlib==3.4.1
numpy==1.20.2
tqdm==4.60.0
pillow==9.0.0
streamlit==0.82.0
# [STREAMLIT] Remove "+cpu"  and "--find-links flag" in requirements.txt to get CUDA support
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu 
torchvision==0.9.1+cpu 
psutil==5.8.0